	<!-- HTML5 sematic markup -->

		<main ng-controller='ProfileController'>
			<section class="row">
				<!-- HTML5 sematic markup -->
				<header class="col-xs-12">
					<h1>Profile Page</h1>
					<p>Below is a summary of my work and academic history:</p>
				</header>
			</section>
			<section class="row">
				<!-- Using Bootstrap to use
				 one column when on xsmall device (phone) - Bootstrap is mobile first, so default value used
				 two columns when on small device (tablets)
				 two columns when on medium devices (laptops/desktops)
				 -->
				<div class="col-sm-4">
					<h2>Working for Lloyds Bank (IT)</h2>
					<img class="logoOnProfilePage" src="img/Logos/LBLogo.jpg" alt="Lloyds Bank Logo">  
					<p>I worked at LTSB for 12 years within the Unisys mainframe support and automation teams. The mainframes held all the personal account for LTSB so the work involved required responsibility and attention to detail. I left Lloyds to change my career path, which I have done through studying, and obtaining good grades in, the qualifications listed.</p>
				</div>
				<div class="col-sm-4">
					<h2>BSc Computing & Systems Practice (2:1)</h2>
					<img class="logoOnProfilePage" src="img/Logos/OULogo.jpg" alt="Lloyds Bank Logo">  
					<p>This computing degree covered 3 core modules on Object Orientated Programming with Java, a module on Relational Database Theory/Practice and one on the Fundamentals of Interaction Design, as well as Systems Thinking.</p>
				</div>
				<div class="col-sm-4">
					<h2>Certificate in Web Apps (Merit)</h2>
					<img class="logoOnProfilePage" src="img/Logos/OULogo.jpg" alt="Lloyds Bank Logo">  	
					<p>The course covered older technologies, such as HTML4 rather than 5, but was comprised of modules on Web Applications: Design and Development, The Client Side of Application Development, The Server-Side of Application Development, Databases Within Website Design, Open Source Development Tools, Web Server Management - Performance and Tuning.</p>				
				</div>
			</section>
			<section class="row">
				<div class="col-sm-4">
					<h2>PGCert in Tech Management (Merit)</h2>
					<img class="logoOnProfilePage" src="img/Logos/OULogo.jpg" alt="Lloyds Bank Logo">  
					<p>From the OU Website: <span class="OUWebsiteText">If technology, innovation and change are factors in your organisation or role, this certificate will extend your knowledge, skills and capability – adding value to your career and your workplace. It provides a rounded view of the management of technology and technological innovation, investigating topics such as the nature and types of technological innovation, technology transfer, and eco-innovation – which are relevant to all economic and organisational sectors and types of technology.</span></p>
				</div>
				<div class="col-sm-4">
					<h2>MSc Systems Thinking & Practice (Merit)</h2>
					<img class="logoOnProfilePage" src="img/Logos/OULogo.jpg" alt="Lloyds Bank Logo">  
					<p>From the OU Website: <span class="OUWebsiteText">This MSc course explores the way we think about and approach tasks or situations. Everyone brings with them their own perspective, which means that we all see things in different ways. The discipline of systems thinking in practice will provide you with the tools to challenge your approach to complex situations, consider the roles other people play, and assess how different components within those situations are related. You will also develop the skills needed to think more holistically and work more collaboratively to avoid systemic failures.</span></p>
				</div>
				<div class="col-sm-4">
					<h2>Software Dev Diploma (In progress)</h2>
					<img class="logoOnProfilePage" src="img/Logos/CILogo.jpg" alt="Lloyds Bank Logo">  	
					<p>To help launch my career in Web Development I have undertaken this course to get my skills up to date. This course covers technology such as HTML5, CSS3, Python, JavaScript, GitHub, Django and Web Frameworks, some of which is used within this website!</p>				
				</div>
			</section>
			<section class="row">
				<header class="col-xs-12">
					<h2>Additional Resources:</h2>
					<p>I have spent the vast majority of my time studying successfully with the Open University, as such I thought I'd include some social media links in case you are interested:</p>
				</header>
				<div  class="col-xs-12">
					<a href="https://www.facebook.com/theopenuniversity/"><img class="logoOnProfilePage" src="img/Logos/Facebook.jpg" alt="Facebook logo"></a>

					<a href="https://www.youtube.com/user/OUlearn/playlists"><img class="logoOnProfilePage" src="img/Logos/Youtube.jpg" alt="Youtube logo"></a>
						
					<a href="https://twitter.com/openuniversity?lang=en-gb"><img class="logoOnProfilePage" src="img/Logos/Twitter.jpg" alt="Twitter logo"></a>
				</div>
			</section>
		</main>